@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 29 44% 85%;
    --foreground: 240 10% 3.9%;

    --card: 29 44% 85%;
    --card-foreground: 240 10% 3.9%;

    --popover: 29 44% 85%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 285 16.8% 46.7%;
    --primary-foreground: 285 16.8% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 284 17% 47%;
    --input: 284 17% 47%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.category-circle {
  width: 100%;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.category-circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.category-circle .image-container {
  transition: filter 0.7s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.category-circle .card-name {
  opacity: 0;
  transition: opacity 0.7s ease;
  color: white;
  font-size: 1.5em;
  text-align: center;
  z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}

.category-circle:hover .image-container {
  filter: brightness(0.3); /* Oscurece la imagen */
}

.category-circle:hover .card-name {
  opacity: 1;
}
